<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Enter</title>
</head>
<body>
<form action="#"
      th:action="@{/update}"
      th:object="${user}"
      method="post">
    <input type="hidden" name="id"  th:field="*{id}" value="$*{user.id}">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name">
    <label for="lastName">Last Name</label>
    <input type="text" th:field="*{lastName}" id="lastName">
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password">

    <p>
        <label>Roles:
            <input type="checkbox" name="roleList"
                   th:each="role : ${roleList}"
                   th:text="${role.role}"
                   th:value="${role.role}"
                   th:field="*{roles}"
            />
        </label>
    </p>
    <input type="submit" value="Update User">
</form>

<a href="#" th:href="@{/logout}">Log Out</a>
</body>

</html>